.background {
  /* background: linear-gradient(to right, #f9ebc8, #fefbe7); */
  background: url("../../Assets/images/banner.jpg");
  background-repeat: no-repeat;
  height: 865px;
  background-size: cover;
}

@media only screen and (max-width: 600px) {
  .background {
    width: 100%;
    max-height: 300px;
  }
}
